{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block main_section %}
<div class="container">
    <div class="card mt-3 shadow-sm">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ condition_form|crispy }}
                <button type="submit" class="btn btn-outline-secondary shadow-sm">Добавить</button>
            </form>

            <hr>
            <p><a href="{% url 'home' %}" class="text-warning">Вернуться на главную</a></p>
        </div>
    </div>
</div>
{% endblock main_section %}