{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block main_section %}
<div class="container">
    <div class="row no-gutters border overflow-hidden flex-md-row mb-1 h-md-250 position-relative shadow-sm mt-3">
        <div class="col p-3 d-flex flex-column position-static">
            <div class="form-section">
                <form method="POST">
                    {% csrf_token %}

                    {{ code_form|crispy }}
                    <button type="submit" class="btn btn-outline-success shadow-sm">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main_section %}
