{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block main_section %}
<div class="container">

    {% if messages %}
    {% for mess in messages %}
    <div class="alert alert-success mt-4">
        {{ mess }}
    </div>
    {% endfor %}
    {% endif %}

    <h4>Registration on site</h4>

    <div class="form-section">
        <form method="POST">
            {% csrf_token %}

            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-primary">Register</button>
        </form>
    </div>
</div>
{% endblock main_section %}