{% load static %}

<section>
    <div class="img-wrap">
        <img src="../static/media/bigimg.png" id="showcase">
        <div id="header" class="container  text-white">
            <h3 class="display-5 mb-0">Onward to the starts</h3>
            <h1 class="display-4 mt-2" style="font-size: 6vw;">RL-Olymp</h1>
            <p class="lead s-sm-block">I do not know what to write</p>
            <button id="where_i_am" class="btn btn-lg btn-outline-warning px-5 mt-2">Where I am?</button>
        </div>
    </div>
</section>
